{% load static from staticfiles %}
{% load compile_static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
      Panel
    {% endblock title %}
  </title>
  {% block css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.png' %}"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/bootstrap-material-design/dist/css/ripples.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/css/styles.less'|compile %}" type="text/css"/>
  {% endblock css %}

</head>

{% block body %}
  <body class="{% block body_class %}{% endblock body_class %} container">
  {% block navbar %}
    {% include 'panel/_navbar.html' %}
  {% endblock navbar %}

  {% block body_content %}

  {% endblock body_content %}

  {% block js %}
    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'components/bootstrap-material-design/dist/js/material.min.js' %}"></script>
    <script src="{% static 'components/bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
    <script src="{% static 'components/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'panel/js/panel-compiled.js' %}"></script>
  {% endblock js %}

  </body>
{% endblock body %}

</html>