{% extends 'panel/base.html' %}

{% block body_class %}{{ block.super }} orders{% endblock body_class %}

{% block body_content %}
  <table class="table table-striped table-hover orders-table">
    <thead>
    <tr>
      <th>Номер заказа:</th>
      <th>Заказ создан:</th>
      <th>Имя:</th>
      <th>Email:</th>
      <th>Телефон:</th>
      <th>Улица:</th>
      <th>Дом:</th>
      <th>Квартира:</th>
      <th>Этаж:</th>
      <th>Комментарий:</th>
    </tr>
    </thead>
    <tbody>
    {% for order in object_list %}
      <tr data-href="{% url 'panel:order-detail-view' hashed_id=order.hashed_id %}">
        <td>{{ order.hashed_id }}</td>
        <td>{{ order.order_created_timestamp }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.address.street }}</td>
        <td>{{ order.address.building }}</td>
        <td>{{ order.address.apartment }}</td>
        <td>{{ order.address.floor }}</td>
        <td>{{ order.comment }}</td>

      </tr>
    {% endfor %}

    </tbody>
  </table>
{% endblock body_content %}