{% extends 'panel/base.html' %}

{% block body_class %}{{ block.super }} order_detail{% endblock body_class %}

{% block body_content %}
  <p>Номер заказа: {{ object.hashed_id }}</p>
  <p>Заказ создан: {{ object.order_created_timestamp }}</p>
  <p>Имя заказчика: {{ object.name }}</p>
  <p>Email: {{ object.email }}</p>
  <p>Телефон: {{ object.phone }}</p>
  <p>Улица: {{ object.address.street }}</p>
  <p>Дом: {{ object.address.building }}</p>
  <p>Квартира: {{ object.address.apartment }}</p>
  <p>Этаж: {{ object.address.floor }}</p>
  <p>Комментарий: {{ object.comment }}</p>
  <p></p>
  {% for cart_item in object.cart.cartitem_set.all %}
    <p>
      <span>{{ cart_item.product.title }}</span>
      <span> × </span><span>{{ cart_item.quantity }}</span>
      <span>{{ cart_item.total_item_price|floatformat:"0" }} 〒</span>
    </p>
  {% endfor %}
  <p>Итого: {{ object.cart.total_price }} 〒</p>
  <p>Подарок: {{ object.gift_food_item.title }}</p>

{% endblock body_content %}

{% block order %}
  <li class="active"><a href="">&nbsp;&nbsp;&nbsp;Заказ {{ object.hashed_id }}</a></li>
{% endblock order %}