<div class="form-group label-floating">
  <label class="control-label" for="input_street">Улица или микрорайон</label>
  <input class="form-control" id="input_street" type="text" required='required'>
  <span class="form-control-feedback glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
</div>
<div class="form-group label-floating">
  <label class="control-label" for="input_building">Номер дома</label>
  <input class="form-control" id="input_building" type="text" required='required'>
  <span class="form-control-feedback glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
</div>
<div class="form-group label-floating">
  <label class="control-label" for="input_apartment">Номер квартиры или офиса</label>
  <input class="form-control" id="input_apartment" type="text" required='required'>
  <span class="form-control-feedback glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
</div>
<div class="form-group label-floating">
  <label class="control-label" for="input_floor">Этаж</label>
  <input class="form-control" id="input_floor" type="number">
</div>