@import '_constants.css';

.app {
  & img {
    max-width: 100%;
  }
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.food-menu-container {
  min-width: 20%;
}

.checkout-container {
  min-width: 25%;
}

