@import "_constants.css";

.wrapper {
  padding: 0 15px;
  max-width: calc(var(--webSiteMaxWidth) / 2);
  margin: 0 auto;
}

.food-title {
}

.quantity-container {
}

.quantity-button {
  min-width: 48px;
}