<footer class="container">
{% with request.resolver_match.url_name as url_name %}
<p><a class="{% if url_name == 'contacts-view' %}active{% endif %}" href="{% url 'main:contacts-view' %}">О компании и контакты</a></p>
<p><a class="{% if url_name == 'faq-view' %}active{% endif %}" href="{% url 'main:faq-view' %}">Вопросы и ответы</a></p>
<p><a class="{% if url_name == 'eula-view' %}active{% endif %}" href="{% url 'main:eula-view' %}">Пользовательское соглашение</a></p>
{% endwith %}
<p><a href="tel:+77273573030">+7 (727) 357 30 30</a></p>
<p>TОО «Fuchtard»</p>
<p>Наша почта: <a href="mailto:ok@fuchtard">ok@fuchtard</a></p>
<p>Разработка: <a href="https://roboxv.pro">robox</a></p>
<br>
<br>
<br>
</footer>