{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
      Сервис заказа еды в Алматы — Maxisushi
    {% endblock title %}
  </title>
  {% block css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.png' %}"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'components/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/bootstrap-material-design/dist/css/ripples.min.css' %}">
  {% endblock css %}

</head>

{% block body %}
  <body class="{% block body_class %}{% endblock body_class %}"
      {% block body_attributes %}{% endblock body_attributes %}>
  {% block header %}
    {% include 'main/_header.html' %}
  {% endblock header %}
  <div class="container">
    {% block body_content %}

    {% endblock body_content %}
  </div>
  {% block footer %}
    {% include 'main/_footer.html' %}
  {% endblock footer %}

  {% block responsive_helper %}
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
  {% endblock responsive_helper %}

  {% block js %}
    <script src="{% static 'components/jquery/jquery.min.js' %}"></script>
    {#    <script src="{% static 'components/jquery-ui/jquery-ui.js' %}"></script>#}
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'components/bootstrap-material-design/dist/js/material.min.js' %}"></script>
    <script src="{% static 'components/bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
    <script src="{% static 'components/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'components/matchHeight/dist/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'components/radial-progress-bar/radial-progress-bar.js' %}"></script>
    {% render_bundle 'main' %}
{#    <script src="{% static 'main/js/main-compiled.js' %}"></script>#}
  {% endblock js %}

  </body>
{% endblock body %}

</html>