@import 'react-toolbox/lib/colors';
@import 'react-toolbox/lib/variables';

:root {
  --webSiteMaxWidth: 1200px;

  --limitToWebSiteMaxWidth: {
    max-width: var(--webSiteMaxWidth);
    margin-left: auto;
    margin-right: auto
  };

  --listOpacityAnimation: {
    &.animationEnter {
      opacity: 0.01;
      height: 0;

      &.animationEnterActive {
        height: 103px;
        opacity: 1;
        transition: height 100ms ease-in,
        opacity 250ms ease-in-out 150ms;
      }
    }

    &.animationLeave {
      opacity: 1;
      height: 51px;

      &.animationLeaveActive {
        height: 0;
        opacity: 0.01;
        transition: opacity 250ms ease-in,
        height 100ms ease-in-out 300ms;
      }
    }
  };
}

@custom-media --notdesktop (width < 960px);
@custom-media --desktop (width >= 960px);
@custom-media --bp2 (width >= 700px);
@custom-media --bp1 (width >= 400px);
