@import 'react-toolbox/lib/colors';
@import 'react-toolbox/lib/variables';

:root {
  --webSiteMaxWidth: 1200px;

  --limitToWebSiteMaxWidth: {
    max-width: var(--webSiteMaxWidth);
    margin-left: auto;
    margin-right: auto
  }
}

@custom-media --desktop (width >= 960px);
@custom-media --notdesktop (width < 960px);