@import '_constants';

.app {
  & img {
    max-width: 100%;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.foodContainer {
  width: 100%;
  @media (--desktop) {
    width: 55%;
  }
}

.foodMenuContainer {
  width: 20%;
}

.checkoutContainer {
  width: 25%;
}

