@import '_constants.css';

.foodTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.quantityButtons {
  margin-left: auto;
}

.quantityButton {
  min-width: 48px;
}

.plusminus {
  font-size: 1.6rem;
  width: 24px;
}

.cardText {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.totalCardText {
  composes: cardText;
  font-weight: bold;
}

.lessThanMinimalOrder {
  color: red;
}

.cartItemAnimationWrapper {
  @apply --listOpacityAnimation;
}
