.item-wrapper {
  width: 100%;
  @media (width >= 600px) {
    width: calc(50% - 4px);
  }
  @media (width >= 900px) {
    width: calc(50% - 4px);
  }
  @media (width >= 960px) {
    width: calc(50% - 4px);
  }
  margin-top: 8px;
}

.quantity-buttons {
  display: inline-block;
}

.pricing {
  display: inline-block;
}