@import '_constants.css';

.headerWrapper {
  background-color: var(--color-primary);
}

.header {
  @apply --limitToWebSiteMaxWidth;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {

}

.aboutUs {
  position: relative;
}

.howtoButtonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}