@import '_constants.css';

.coloredBg {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

.headerWrapper {
  @apply --limitToWebSiteMaxWidth;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {

}

.aboutUs {
  order: 2;
}

.titleWrapper {
  order: 1;
}