@import '_constants';

.sticky {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.navigationButtons {
  height: 56px;
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin: 0;
  padding: 0;
  min-width: 80px;
  max-width: 168px;
  flex: 1 1 0;
  background: none;
  text-align: center;
}

.buttonIcon.buttonIcon.buttonIcon {
  line-height: normal;
}

.buttonText.buttonText.buttonText {
  line-height: normal;
  text-transform: none;
}
