@import '_constants.css';

.page {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.test {
  max-width: var(--webSiteMaxWidth);
}

.mainBlock {
  @apply --limitToWebSiteMaxWidth;
  display: flex;
  flex-direction: row;
}

.leftSidebar {
  flex-basis: 20%;
}

.content {
  flex: 1;
}

.rightSidebar {
  flex-basis: 25%;
}