@import '_constants.css';

.page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
}

.mainBlock {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.leftSidebar {
  min-width: 20%;
}

.rightSidebar {
  min-width: 25%;
}