@import '_constants.css';

.page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.leftSidebar {
  width: 20%;
}

.mainBlock {
  width: 100%;
  @media (--desktop) {
    width: 55%;
  }
}

.rightSidebar {
  width: 25%;
}