@import "_constants.css";

.z1 {
  margin: 16px -4px;
}

.a1 {
  display: flex;
  flex-wrap: wrap;
  //align-items: stretch;
}

.b1 {
  width: 50%;
  @media (--bp2) {
    width: 33%;
  }
  @media (--desktop) {
    width: 25%;
  }
}

.c1 {
  padding: 4px;
  height: 100%;
}

.card {
  height: 100%;
  position: relative;
}

.cardTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 300;
}