@import "_constants.css";

.menuWrapper {
  margin: 4px -2px;
}

.tiledFoodMenu {
  display: flex;
  flex-wrap: wrap;
}

.link {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 50%;
  @media (--bp2) {
    width: 33%;
  }
  @media (--desktop) {
    width: 25%;
  }
}

.tileWrapper {
  padding-left: 2px;
  padding-right: 2px;
  height: 100%;
}

.cardMedia {
  height: 100%;
}

.tile {
  height: 100%;
  position: relative;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 50;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  //margin: 0;
  padding: 16px;
}