<div class="scrollbar navbar navbar-default navbar-fixed-top hidden">
  <div class="container">
    <div id="navbar-container" class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a id="current_category" href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu scrollable-menu">
            <li><a href="#scroll-to-top">В начало</a></li>
            <li class="divider"></li>
            {% for food_category in object_list %}
              {% if food_category.enabled and food_category.visible and food_category.fooditem_set.exists %}
                <li><a href="#{{ food_category.slug }}">{{ food_category.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="cart-overlay" {% if cart %}data-preloaded-cart="{{ cart.json_repr }}"{% endif %} class="hidden">
  <div class="fade-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 center-block">
        <div class="cart-overlay-inner panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Корзина</h3>
          </div>
          <div class="panel-body">
            <div class="cart-items-container"></div>
          </div>
          {% with view.get_gifts as gifts %}
            {% if gifts.exists %}
              <div class="panel-footer">
                <div class="gifts_info">
                  <p>Сделай заказ на указанную сумму и&nbsp;получи подарок</p>
                  <div class="gifts_list">
                    {% for gift in view.get_gifts %}
                      <p data-gift-requirement="{{ gift.requirement }}">{{ gift.requirement }} 〒 — {{ gift.food_item.title }}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sticky_bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 center-block">
        <div class="sticky_bar_inner">
          <form id='cart_form' action="{% url 'order:cart-update-view' %}" method="POST">
            {% csrf_token %}
            <div class="btn-group btn-group-justified btn-group-raised">
              <a href="#" onclick="return false;" class="btn btn-primary" id="cart-overlay-button">
                <span>
                  <span id="cart-total-price">0</span>
                  <span>&nbsp;〒&nbsp;&nbsp;&nbsp;</span>
                </span>
              </a>
              <a class="order_button btn btn-danger" id="cart_form_submit_button"
                 data-loading-text="Подождите..." disabled>&nbsp;&nbsp;&nbsp;Заказать</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="sticky_bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 center-block">
        <div class="sticky_bar_inner">
          <a id="gift_button" href="javascript:void(0)" class="center-block btn btn-raised btn-primary btn-fab">
            <span class="available-gifts" data-gift-breakpoints="{{ view.get_gift_breakpoints|escapejs }}">
              <i class="mdi mdi-gift gift-icon" aria-hidden="true"></i>
              <span class="gifts-counter badge hidden"></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>