{% load webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name=viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>
    var config = {};
    config.csrfToken = '{{ csrf_token }}';
  </script>
</head>
<body>
<div id="js-react-app"></div>
{% render_bundle 'app' %}
</body>
</html>