{% extends 'main/base.html' %}
{% load static from staticfiles %}

{% block body_class %}{{ block.super }} food-menu-page{% endblock body_class %}

{% block body_attributes %}
  data-spy="scroll" data-target="#navbar-container"
{% endblock body_attributes %}

{% block body_content %}

  {% include 'main/_carousel.html' %}

  <div class="food-menu">
    {% for food_category in object_list %}
      {% if food_category.enabled and food_category.visible and food_category.fooditem_set.exists %}
        {% include 'food/_food-category.html' %}
      {% endif %}
    {% endfor %}
  </div>
  {% include 'food/_seo_about.html' %}

{% endblock body_content %}

{% block non_container %}
  {% include 'food/_overlays.html' %}
{% endblock non_container %}
