body {
  background-color: #f8f8f8;
}

.sticky_bar {
  position: fixed;
  z-index: 50;
  bottom: 0;
  right: 0;
  width: 100%;
  //background-color: #d4d4d4;
}

#cart-overlay {
  //outline: none;
  //box-sizing: border-box;
  //transform-origin: right bottom 0px;
  ////position: fixed;
  //z-index: 103;
  //max-height: 845px;
  //max-width: 868px;
  //
  ////top: auto;
  ////left: auto;
  //right: 32px;
  //margin-right: 0;
  //bottom: 110px;
  //margin-bottom: 0;
  //width: 300px;
  //height: calc(100vh - 110px - 64px - 24px);
  //border-radius: 3px;
  //z-index: 1 !important;
  //transition: width 0.3s ease;
  z-index: 10;
  width: 200px;
  position: fixed;
  bottom: 60px;

  .cart-overlay-inner {
    max-height: 80vh;
    overflow: auto;
    margin: 0 auto;
    border: 1px #8e8e8e solid;
    background-color: #f7fffe;
    padding: 10px 0;
  }

  //&::after {
  //  content: "";
  //  position: absolute;
  //  width: 0;
  //  height: 0;
  //  box-sizing: border-box;
  //  right: 24px;
  //  border: 8px solid white;
  //  z-index: -1;
  //  transform-origin: 0 0;
  //  -webkit-transform-origin: 0 0;
  //  transform: rotate(-45deg);
  //  -webkit-transform: rotate(-45deg);
  //  box-shadow: -12px 12px 15px 0px rgba(0, 0, 0, .24);
  //}
}

//}

.quantity-buttons {
  margin: 0;
  .btn {
    padding: 0;
    height: 35px;
    &.quantity-increase, &.quantity-decrease {
      font-size: 1.7em;
      font-weight: bold;
    }
  }
}

.food-category-title {
  h3 {
    font-size: 18px;
    a {
      display: block;
    }
  }
}

.food-item-container {
  background-color: #fff;
  border: 2px #F8F8F8 solid;
  padding-top: 15px;

  .food-item {
    margin-bottom: 60px;

    .food-text {
      //margin-bottom: 10px;
      .food-tags {
        margin-bottom: 10px;
      }
    }

    .buttons-and-price-block {
      bottom: 10px;
      width: 100%;
      position: absolute;

      .price-block {
        p {
          margin-bottom: 0;
        }

        .food-raw-price {
          color: darkred;
          text-decoration: line-through;
        }

        .food-price {
          font-weight: bold;
        }
      }
    }
  }
}

.btn-group-vertical.btn-group-raised, .btn-group.btn-group-raised {
  -webkit-box-shadow: none;
  box-shadow: none;
}