{% extends 'main/base.html' %}
{% load static from staticfiles %}

{% block body_class %}{{ block.super }} food-menu{% endblock body_class %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'food/js/food-menu-compiled.js' %}"></script>
{% endblock js %}

{% block body_content %}
  <div class="sticky_bar">
    <div class="container">
      <div class="row-fluid">
        <form id='cart_form' action="{% url 'order:cart-update-view' %}" method="POST">
          {% csrf_token %}

          <div class="btn-group btn-group-justified btn-group-raised">
            <a href="#" onclick="cart_overlay_button(this)" class="btn btn-primary"
               id="cart-overlay-button">
              <i class="material-icons">shopping_cart</i><span><span id="cart-total-price">1234</span> 〒</span>
            </a>
            <a href="#" class="btn btn-danger" id="cart_form_submit_button" data-loading-text="Подождите...">Заказать</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="food-menu">
    {% for food_category in object_list %}
      {% if food_category.fooditem_set.exists %}
        {% include 'food/_food-category.html' %}
      {% endif %}
    {% endfor %}
  </div>
  {% include 'food/_cart.html' %}

{% endblock body_content %}
