<div id="cart-overlay" {% if cart %}data-preloaded-cart="{{ cart.json_repr }}"{% endif %}>
  <div class="list-group food-items-container">
    {#  {% for food_item in food_category.fooditem_set.all %}#}


{#    <div class="list-group-item cart-item" data-food-id="1">#}
{#      <div class="row-content">#}
{##}
{#        <h4 class="list-group-item-heading food-title">Кя хе</h4>#}
{#        <div class="least-content food-price">1500 〒</div>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="pull-right">#}
{#          <div class="quantity-buttons btn-group btn-group-justified btn-group-raised">#}
{#            <a href="javascript:void(0)" onclick="update_quantity_button(this, false)"#}
{#               class="btn btn-primary quantity-decrease">-#}
{#              <div class="ripple-container"></div>#}
{#            </a>#}
{#            <a href="javascript:void(0)" class="btn quantity-counter">0</a>#}
{#            <a href="javascript:void(0)" onclick="update_quantity_button(this, true)"#}
{#               class="btn btn-primary quantity-increase"><i class="material-icons">add_shopping_cart</i>#}
{#              <div class="ripple-container"></div>#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}


    {#    {% if not forloop.last %}#}
    {#      <div class="list-group-separator"></div>#}
    {#    {% endif %}#}
    {#  {% endfor %}#}
  </div>
  <div>
    <a href="javascript:void(0)" onclick="checkout_button(this)" class="btn btn-raised btn-danger" id="checkout-button" data-action="{% url 'order:cart-update-view' %}" data-order-page-url="{% url 'order:order-checkout-view' %}" data-loading-text="Подождите...">Оформить заказ</a>
  </div>

</div>