{% extends 'main/base.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block body_class %}{{ block.super }} order-checkout{% endblock body_class %}

{% block body_content %}

  <div class="panel panel-default">
    <div class="panel-body">

      <form class="form-horizontal col-md-8 col-md-offset-2" id="order_form" action="" method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Оформление заказа</legend>
          <div class="form-group">

            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-primary cart-content">
                    <div class="panel-heading">
                      <h3 class="panel-title">Корзина</h3>
                    </div>
                    <div class="panel-body">
                      <ul class="leaders">
                        {% for cart_item in view.cart_object.cartitem_set.all %}
                          <li>
                            <span>{{ cart_item.product }} × {{ cart_item.quantity }}</span>
                            <span>{{ cart_item.total_item_price|floatformat:"0" }}</span>
                          </li>
                        {% endfor %}
                        <li class="total_price"><span>Итого</span><span>{{ view.cart_object.total_price }}</span></li>
                      </ul>
                      <a class="btn btn-primary back-button" href="{% url 'food:food-menu-view' %}">Вернуться в меню</a>
                    </div>
                  </div>
                </div>
                {% if form.gift_food_item %}
                  <div class="col-sm-6 gift_selector">
                    <div class="col-sm-10 col-sm-offset-1">
                      <h4>Выберите подарок</h4>
                      {% for radio in form.gift_food_item %}
                        <div class="radio radio-primary available">
                          <label for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            {{ radio.tag }}
                          </label>
                        </div>
                      {% endfor %}
                      {% for gift in view.get_unavailable_gifts_list %}
                        <div class="radio radio-primary">
                          <label>
                            <input type="radio" name="gift_food_item" value="{{ gift.food_item.id }}"
                                   disabled="disabled">
                            {{ gift.food_item.title }} ({{ gift.requirement }}&nbsp;〒)
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>

          </div>

          <div class="form-group label-floating">
            <label for="input_name" class="control-label">Имя</label>
            <div class="">
              {% render_field form.name class='form-control' %}
              <span class="help-block">Как к вам обращаться?</span>
            </div>
          </div>

          <div class="form-group label-floating">
            <label for="input_email" class="control-label">Email</label>
            <div class="">
              {% render_field form.email class='form-control' type='email' %}
              <span class="help-block">Мы вышлем вам на почту информацию о заказе.</span>
            </div>
          </div>
          {% if asdf.phone %}
            <div class="form-group with-hidden-fields label-floating">
              <label class="control-label">Телефон</label>
              <div class="">
                {#                            <div class="radio radio-primary">#}
                {#                              <label>#}
                {#                                <input type="radio" name="phone_radios" id="phoneRadios1" value="option1">#}
                {#                                +7 789 123-45-67#}
                {#                              </label>#}
                {#                              <span class="pull-right"><i class="material-icons">delete</i></span>#}
                {#                            </div>#}
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" class="expand-hidden-fields" name="phone_radios" id="phone_radios_new"
                           value="new"
                           checked="checked">
                    Указать новый
                  </label>
                </div>
              </div>
              <div class="col-md-10 collapse in">
                {% include 'order/_phone_form.html' %}
              </div>
            </div>
          {% else %}
            {% include 'order/_phone_form.html' %}
          {% endif %}
          {% if asdf.address %}
            <div class="form-group with-hidden-fields">
              {#            <label class="control-label">Адрес</label>#}
              <div class="">
                {#              <div class="radio radio-primary">#}
                {#                <label>#}
                {#                  <input type="radio" name="addressRadios" id="addressRadios1" value="option1">#}
                {#                  Микрорайон 7, дом 47, квартира 50, этаж 5#}
                {#                </label>#}
                {#                <span class="pull-right"><i class="material-icons">delete</i></span>#}
                {#              </div>#}
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" class="expand-hidden-fields" name="address_radios" id="address_radios_new"
                           value="new"
                           checked="checked">
                    <p>Указать новый</p>
                  </label>
                </div>
              </div>
              <div class="col-md-10 collapse in">
                {% include 'order/_address_form.html' %}
              </div>
            </div>
          {% else %}
            {% include 'order/_address_form.html' %}
          {% endif %}

          <div class="form-group with-hidden-fields delivery-select hidden">
            <label class=" control-label">Доставка</label>

            <div class="">
              <div class="radio radio-primary">
                <label>
                  <input type="radio" name="when-to-deliver" id="when-to-deliver-instant" value="instant"
                         checked="checked">
                  В ближайшее время
                </label>
              </div>
              <div class="radio radio-primary">
                <label>
                  <input type="radio" class="expand-hidden-fields" name="when-to-deliver" id="when-to-deliver-deferred"
                         value="deferred">
                  Ко времени
                </label>

                <div class="collapse">
                  <select id="deferred_day" class="form-control">
                  </select>
                  <select id="deferred_hour" class="form-control">
                  </select>

                </div>
              </div>
            </div>
          </div>
          <div class="form-group label-floating">
            <label for="textArea" class=" control-label">Комментарий</label>
            <div class="">
              {% render_field form.comment class='form-control' rows='2' %}
              {#              <textarea class="form-control" rows="1" id="textArea"></textarea>#}
              <span class="help-block">Оставьте комментарий к заказу</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <button type="submit" class="btn btn-block btn-raised btn-danger">Оформить заказ</button>
            </div>
          </div>
          <div class="form-group hidden">
            <select class="form-control" id="id_cart" name="cart">
              <option value="{{ view.cart_object.id }}"></option>
            </select>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

{% endblock body_content %}
